<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>

    <title>Все товары | СтройТорг</title>
</head>
<body>
<nav th:replace="/parts/navbar :: navbar"></nav>

<div th:if="${adminUser}">
    <a class="btn btn-primary btn-small float-end"
       style="border-color: #20fc72; background-color: #00ff5e; color: #ffffff; margin-top: 5px; margin-right: 5px"
       th:href="@{/product/add}">Добавить продукт</a>
</div>

<div class="container mb-5">
    <h1 class="text-center">Все товары</h1>
    <h3 th:if="${products.size() == 0}" class="text-center" style="margin-top: 50px">Нету товаров!</h3>
    <div th:if="${products.size() != 0}" th:each="part : ${products}" class="row card-group d-flex mt-2">
        <div th:each="el : ${part}" class="mt-2 card bg-light" style="margin: 10px; border-radius: 7px">
            <div class="text-center">
                <img th:if="${el.imageBytes != null}" th:src="@{'/product/imageDisplay?id=' + ${el.vendorCode}}"
                     class="w-25 р-25 m-1 rounded-3" alt="Фото товара"/>
                <img th:if="${el.imageBytes == null}" th:src="@{/img/image-placeholder.png}" class="w-25 р-25 m-1"
                     alt="Фото товара нету"/>
            </div>
            <div class="mt-auto mx-auto text-center" style="bottom: 0">
                <h2 th:text="'Артикул: ' + ${el.vendorCode}"></h2>
                <h3 th:text="'Название: ' + ${el.name}"></h3>
                <p th:text="'Цена: ' + ${el.price} + ' руб.'"></p>
                <p th:text="'Вес: ' + ${el.weight} + ' кг'"></p>
                <p th:text="'Описание: ' + ${el.description}"></p>
                <div class="d-flex justify-content-center align-items-center">
                    <form th:if="${!#lists.contains(listOfExProductCodes, el.vendorCode)}" th:action="@{/cart/add}"
                          method="post">
                        <input type="hidden" name="vendorCode" th:value="${el.vendorCode}">
                        <button type="submit" class="btn btn-primary btn-small"
                                style="border-color: #20fc72; background-color: #00ff5e; color: #ffffff">В корзину
                        </button>
                    </form>
                    <button th:if="${#lists.contains(listOfExProductCodes, el.vendorCode)}"
                            class="btn btn-warning btn-small">Уже в корзине
                    </button>
                    <form th:if="${adminUser}" th:action="@{/product/delete}" style="margin-left: 10px" method="POST">
                        <input type="hidden" name="vendorCode" th:value="${el.vendorCode}">
                        <button type="submit" class="btn btn-primary btn-small"
                                style="border-color: #fc2020; background-color: #ff0000; color: #ffffff">Удалить
                        </button>
                    </form>
                </div>
                <a th:href="'/product/'+ ${el.vendorCode}">Подробнее</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/parts/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/setActiveNavLink.js/}"></script>
</body>
</html>